<div class="forgetpassword">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/images/svg.svg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h3>Reset Password</h3>
                        </div>

                        <div class="container-fluid">
                            <form (ngSubmit)="onSubmit()" [formGroup]="form">
                                <h5>Enter your OTP </h5>
                                <div class="row" style="margin-top: 40px;">
                                    <div class="form-group col-sm-2" *ngFor="let input of formInput;  index as i">
                                        <input #formRow type="text" formControlName="{{input}}" class="form-control"
                                            maxlength="1" (keyup)="keyUpEvent($event, i)">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary" style="margin-top: 28px;">Submit</button>
                            </form>
                        </div>

                        <!-- <form   autocomplete="off">
                            <div class="form-group first">
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="floatingInput"
                                        placeholder="Enter your email" formControlName="" autocomplete="off">
                                    <label for="floatingInput">Email address</label>
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                        anyone
                                        else.</small>
                                    
                                </div>
                                <div class="form-floating">
                                    <input type="password" class="form-control" id=""
                                        placeholder="Password" formControlName="password">
                                    <label for="floatingPassword">Password</label>
                                </div>
                                <div class="mt-4">
                                    <input type="submit" value="Log In" class="btn btn-block btn-primary"
                                        fdprocessedid="thqqs">
                                </div>
                            </div>
                        </form> -->
                    </div>
                    <a routerLink="/login">Back to Login</a>
                    <!-- <button (click)="signup()">SignUp</button> -->
                </div>
            </div>
        </div>
    </div>
</div>