<div class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/images/svg.svg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h3>Sign In</h3>
                        </div>
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
                            <div class="form-group first">
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="floatingInput"
                                        placeholder="Enter your email" formControlName="userName" autocomplete="off">
                                    <label for="floatingInput">Email address</label>
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                        anyone else"".</small><br>
                                    <small style="color:red"
                                        *ngIf="userName && userName.invalid && userName.touched">Entered email is
                                        required /
                                        not valid</small>
                                </div>
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="floatingPassword"
                                        placeholder="Password" formControlName="password">
                                    <label for="floatingPassword">Password</label>
                                    <small style="color:red"
                                        *ngIf="password && password.invalid && password.touched">Password should have
                                        minimum 5 characters length</small>
                                </div>
                                <div class="mt-4">
                                    <input type="submit" value="Log In" [disabled]="loginForm.invalid"
                                        class="btn btn-block btn-primary" fdprocessedid="thqqs">
                                </div>
                            </div>
                        </form>
                    </div>
                    <a routerLink="/forgetPassword">Forget Password</a>
                </div>
            </div>
        </div>
    </div>
</div>